---
layout: page
title: "About"
description: "「努力进步的小白一枚呀」"
header-img: "img/bg-about.jpeg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}
<!-- 多语言切换器 zh中文，en英文 -->

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


<!-- 评论区（后续添加） -->
